body{
    background: #EFEFF2;
    margin: 0;
    font: 400 18px/28px Inter, sans-serif;
    color: #19191C;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.header{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
    align-items: center;
}
.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;

}
.link{
    color: #19191C;
    text-decoration: none;
}
.btn-box{
    display: flex;
    gap: 48px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
    align-items: center;
}
.btn{
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.offer{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    background: url(../img/woman.png) 125% 100% no-repeat;
}
.offer__holder{
    width: 648px;
    background: url(../img/Ellipse2.png) 140% -30% no-repeat;
    background-size: 700px 700px;
}
.offer__during{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #19191C;
    width: 84px;
    border-bottom: #504DEE 4px solid;
    margin-bottom: 32px;
}
.offer__upper-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
    margin: 0;
}
.offer__title{
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    color: #19191C;
    margin-top: 2px;
    margin-bottom: 48px;
}
.offer__description{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
    margin-bottom: 50px;
}
.button{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #FBFBFC;
    padding: 16px 37px;
    border: none;
    background: #504DEE;
    margin-bottom: 110px;
}
.offer__sale{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 8px;
}
.offer__time{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 195px;
}
.offer__list{
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    background: url(../img/Rectangle.png) 80% 100% no-repeat;
    z-index: -1;

}
.offer__invision{
    top: 100px;
    right: 20px;
}
.offer__protopie{
    top: 2px;
    right: 240px;
}
.offer__miro{
    top: 100px;
    right: 500px;
}
.offer__photoshop{
    top: 290px;
    right: 510px;
}
.offer__figma{
    top: 420px;
    right: 720px;
}
.offer__illustrator{
    top: 610px;
    right: 660px;
}
.offer__item{
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.wrapper{
    background: #19191C;
}
.footer{
    padding: 59px 0 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.footer__holder{
    display: flex;
    justify-content: space-between;
}
.brand__logo{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    gap: 14px;
    color: #FBFBFC;
    text-decoration: none;
    align-items: center;
}
.brand{
    display: flex;
    flex-direction: column;
    gap: 43px;
}
.brand__contact{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.brand__contact-link{
    color: #FBFBFC;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}
.sitemap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sitemap__title{
    color: #FBFBFC;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 28px 0;
}
.sitemap__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sitemap__list a{
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #FBFBFC;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #6D6D77;
    gap: 28px;
}
.copyright a{
    color: #6D6D77;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}